<mat-card class="hero-form-card">
  <mat-card-title class="card-title">{{ hero ? 'Editar Héroe' : 'Agregar Héroe' }}</mat-card-title>
  <form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Poder</mat-label>
      <input matInput formControlName="power" />
    </mat-form-field>

    <mat-card-actions class="button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="heroForm.invalid">
        Guardar
      </button>
      <button mat-stroked-button color="warn" type="button" (click)="onCancel()">
        Cancelar
      </button>
    </mat-card-actions>
  </form>
</mat-card>