<div class="hero-container">
    <mat-form-field appearance="outline">
      <mat-label>Buscar héroe</mat-label>
      <input matInput [(ngModel)]="searchTerm" (input)="applyFilter()">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="openForm()">Añadir Héroe</button>
  </div>

  <table mat-table [dataSource]="paginatedHeroes" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let hero"> {{ hero.name }} </td>
    </ng-container>
    <ng-container matColumnDef="power">
      <th mat-header-cell *matHeaderCellDef> Poder </th>
      <td mat-cell *matCellDef="let hero"> {{ hero.power }} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let hero">
        <button mat-icon-button color="accent" (click)="editHero(hero)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteHero(hero)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <button mat-button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
  <button mat-button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= filteredHeroes.length">Siguiente</button>